* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    background-color: #f5f5f5;
}

form {
    padding: 20px 60px;
    position: relative;
}


form input {
    padding: 10px 20px;
}

form textarea {
    padding: 10px 20px;
    resize: none;
}

.input-field-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-field-education input {
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);
}

/********************/
/*******HEADER******/
/********************/
header {
    background-color: #008080;
    padding: 20px;
}

/***************************/
/*******EXPERIENCE**********/
/***************************/

.input-field-experience input {
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);
}

.input-field-experience textarea {
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);
    height: 7rem;
    width: 25rem;
}

.experience-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}

.experience {
    padding: 5px;
    width: 30rem;
}



/**************************/
/**************SKILLS******/
/******************************/
.input-skills-achievements textarea {
    border: none;
    outline: none;
    height: 8rem;
    resize: none;
}

.skills-input-title {
    padding: 10px 20px;
    display: inline;
    font-size: 1.5rem;
    color: gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);
}

.skills {
    white-space: pre-wrap;
}

/********************************/
/***********PERSONAL INFO*******/
/********************************/
.input-field-personal input {
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);
}
.personal-info {
    border-bottom: 2px solid #000;
}


/****************************/
/***********EDUCATION********/
/*****************************/
.education {
    padding: 5px;
}


/*******************************/
/**************DISPLAY DATA********/
/*********************************/
.resume-container {
    width: calc(100vh * 0.707); /* Maintain A4 aspect ratio (width = height * 0.707) */
    height: 90vh; /* Fit screen height */
    margin: auto;
    background: white;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 1%;
    left: 35%;
    font-size: 1.8rem;
}

.resume p {
    width: 30rem;
    margin-bottom: 5px;
    margin-left: 5px;
}

.degreePlusCgpa {
    display: flex;
    justify-content: space-between;
}

.jobTitle {
    width: fit-content;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
}

.date {
    font-size: 1.5rem;
    margin-top: 8px;
}

.namePlusEmail {
    display: flex;
    justify-content: space-between;
}