* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    position: relative;
    height: 100vh;
    width: 55rem;
}

form input, textarea {
    padding: 5px 10px;
}

form input {
    padding: 10px;
    box-shadow: 0 4px 12px rgba(150, 150, 150, 1);
    border: none;
}

/* Education Section */
.education-date {
    display: flex;
    gap: 10px;
}

.education-input {
    padding: 10px;
    box-shadow: 0 4px 12px rgba(150, 150, 150, 1);
    width: 45rem;
    border: 1px solid purple;
}

.education-input textarea {
    width: 88%;
    height: 4rem;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 3px;
}

.education-input input {
    border: none;
    outline: none;
}

/* Experience Section */
.experience-input {
    padding: 10px;
    box-shadow: 0 4px 12px rgba(150, 150, 150, 1);
    width: 45rem;
    border: 1px solid purple;
}

.experience-input textarea {
    width: 88%;
    height: 5rem;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 3px;
}

.experience-input input {
    border: none;
    outline: none;
}

/* Resume Section */
.resume {
    display: inline-block;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(150, 150, 150, 1);
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 2rem;
}

.personal {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #000;
    font-size: 2rem;
}

.personal p {
    margin-bottom: 5px;
}

.degree-with-cgpa {
    display: flex;
    gap: 30px;
    padding: 5px 0px;
}

.education {
    padding: 5px 10px;
    font-size: 2rem;
}

.experience {

}

aside {
    padding: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 10px;
    font-size: 2rem;
}

.skills p {
    padding-right: 5px;
    border-right: 1px solid #000;
}

/* Title and Company Section in Experience */
.title-company {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

/* Skills Section */
.skill-input {
    display: flex;
}

.hobbies-fab {
    position: absolute;
}

.job-title {
    max-width: fit-content;
    border-bottom: 1px solid #000;
}

.job {
    padding: 5px 10px;
    font-size: 2rem;
}

.namePlusDegree {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.titlePlusCompany {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.dates {
    display: flex;
    gap: 15px;
}